@import url("variables.css");
@import url("body.css");
@import url("navbar.css");
@import url("header.css");
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 15px;
    width: 100%;
}
.gallery .image-gallery{
    width: 32%;
    height: auto;
}
.gallery .image-gallery img{
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.gallery > .image-gallery > img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

@media (min-width: 100px)and(max-width: 768px) {
    .gallery .image-gallery{
        width: 50%;
    }
}